<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码重置链接已发送</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'books:index' %}">博客注册登陆功能测试</a></h1>
            <h3>密码重置链接已发送</h3>
            <p>如果您输入的邮箱地址所对应的账户存在,设置密码的提示已经通过邮件发送到您的邮箱,你很快就能收到</p>
            <p>如果您没有收到邮件,请确保您索输入的地址是正确的,并检查您的垃圾邮件夹</p>
        </div>
    </div>
</div>
</body>
</html>