{% extends 'apps/base.html' %}

{% block content %}
    <div class="content_read">
        <div class="box_con">
            <div class="con_top">
                <script>textselect();</script>
                <a href="/">趣味阅读</a> &gt; {{ book_content.fiction.fictionType.name }} &gt; <a href="#">{{ book_content.fiction.name }}</a>
                &gt; {{ book_content.name }}
            </div>
            <div class="bookname">
                <h1>{{ book_content.name }}</h1>
                <div class="bottem1">
                    <a href="#">投推荐票</a>
                    <a href="#">上一章</a> ← <a href="#">{{ book_content.fiction.name }}</a> → <a
                        href="#">下一章</a> <a href="#">加入书签</a>
                </div>
            </div>
            <table style="width:100%; text-align:center;">
                <tbody>
                <tr>
                    <td>
                        <script>read_1_1();</script>
                    </td>
                    <td>
                        <script>read_1_2();</script>
                    </td>
                    <td>
                        <script>read_1_3();</script>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="content">
                {{ contents }}
            </div>
            <div class="bottem2">
                <a href="#">投推荐票</a>
                <a href="#">上一章</a> ← <a href="#">{{ book_content.fiction.name }}</a> → <a
                    href="#">下一章</a> <a href="#">加入书签</a>
            </div>
            <script>read4();</script>
            <div id="hm_t_20123"></div>
        </div>
    </div>
{% endblock %}