{% extends 'apps/base.html' %}
{% load static %}
{% block content %}
    <div class="box_con">
        <div id="maininfo">
            <div id="info">
                <h1>{{ book.0.name }}</h1>
                <p>作&nbsp;&nbsp;&nbsp;&nbsp;者：{{ book.0.author }}</p>
                <p>最后更新：{{ chapters.first.updata_time }}</p>
                <p>最新章节：<a href="">{{ chapter }}</a></p>
            </div>
            <div id="intro">
                <p>{{ book.0.intro }}</p>
            </div>
        </div>

        <div id="sidebar">
            <div id="fmimg">
                <img alt="{{ book.0.author }}" src="{{ book.0.cover }}">
            </div>
        </div>
    </div>

    <div class="box_con">
        <div id="list">
            <dl>
                {% for list in chapters %}
                    <dd><a href="/qwread/content/?id={{ list.id }}">{{ list }}</a></dd>
                {% endfor %}
                <dt>各位书友要是觉得《{{ book.0.name }}》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</dt>
            </dl>
        </div>
    </div>
{% endblock %}
